.container{
    display:grid;
    grid-template-columns: 350px 1fr 350px;
    margin: 0 auto;
    background-color: #f1ebeb;
}

@media(max-width:1080px){
    .container{
       display: flex;
       flex-direction: column;
    }
}
.container__title{
    grid-column-start: 2;
    padding: 45px;
    color: #131212;
    font-style: italic;
    font-size: 16px;
}

@media(max-width:767px){
    .container__title{
        grid-column-start: 1;
    }
}
.container__quitation {
    color: #4e663a;
    font-size: 26px;
}
