.navigation {
    background-color: #4e663a;
}

.navigation__list {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    list-style-type: none;
    margin: 0;
}

.navigation__item {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    padding-bottom: 5px;
}

.navigation__item:hover {
    border-bottom: 3px solid #fff;
}

.navigation__item--dark {
    color: #222
}

@media(max-width:767px) {
    .navigation__list {
        display: flex;
        flex-direction: column;
    }
    .navigation__item {
        display: inline-block;
        margin: 5px;
    }
    .navigation__item:hover{
        border-bottom: none;
    }
}

